<h2>Tips</h2>
<p>
    To play again just pick a game mode!
</p>
<ul>
    <li>Use arrow keys to move</li>
    <li>Press <b>{{hit}}</b> to use your sword</li>
    
    <li>Press <b>{{skipKey}}</b> to skip a level</li>
    <li>Press <b>{{invincibleKey}}</b> to become Invincibile</li>
    <li>Press <b>{{shoot}}</b> to use your bow</li>
    <li>Arrows aim towards an enemy, you can't control this</li>
    <li>Click with your Mouse to summon a tornado</li>

    
</ul>
<h2>Features</h2>
<ul>
    <li>Running Mini-Game</li>
    <li>Fight Mechanics (Sword/Bow)</li>
    <li>Pause Screen between levels</li>
    <li>Obstacles (Fences/Walls)</li>
    <li>Hearts Increase Health</li>
    <li>Fight Multiple Enemies at once</li>
    <li>Cheats (Invincibility/Skip Level)</li>
    <li>Tense Fight Music</li>
    <li>5 Different Enemy Types</li>
    <li>Blackout Levels (Reduced Visibility)</li>
    <li>Moving Environment on Cave map</li>
    <li>Special Powers (Summon Tornado/Teleport)</li>
    <li>Powers have Cooldown Timers,Animations</li>
    <li>2 Game Modes (Story Mode/Endless Mode) in Single Page Application</li>
    <li>Story mode - explains features, different enemies, explosive landmines</li>
    <li>Endless mode - fight till you die, randomly generated levels</li>
    <li>Leaderboard of Endless Mode scores</li>
    <li>Change Game Controls in Settings</li>
    
</ul>
<h2>Credits</h2>
<ul>
    <li>Character images - <a href="https://untamed.wild-refuge.net/rmxpresources.php?characters">Sithjester</a></li>
    <li>Music - <a href="https://www.bensound.com/">bensound</a></li>
    <li>Explosion Graphic - <a href="https://www.kindpng.com/imgv/iiiTmRh_explosionfull-magic-explosion-sprite-sheet-hd-png-download/">Sienna</a></li>
    <li>Cave Background - <a href="https://opengameart.org/content/cave-tileset-1">Bjorn</a></li>
    <li>Sewer Background - <a href="https://opengameart.org/content/sewer-tileset">Beast</a></li>
    <li>Grass Background - <a href="https://opengameart.org/content/platformer-tiles-from-shrunken-adventures">FuzzyWuzzie</a></li>
    <li>Desert Background - <a href="https://opengameart.org/content/desert-tileset-0">Beast</a></li>
    <li>GameBoy Background - <a href="https://opengameart.org/content/tiny16-tileset">FuwanekoGames</a></li> 
</ul>